h1 {
    color:aliceblue ;
    font-weight: bold;
    display: inline-block;
    position: relative;
    top:15px;
    left:10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    font-size:xx-large;
}

body{
    /*background-image: url(../resources/bg5.jpg);*/
    /*background-image: url(https://i.ibb.co/s60L0q4/bg5.jpg);*/
    background: url("https://res.cloudinary.com/dd6t4mafh/image/upload/v1589882834/kisspng-popcorn-discount-theater-film-cinema-movie-theatre-5ab8ef33641513.2154171515220692994099-cropped_syxirl.webp") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin:auto;
}

#authentication-fields {
    display: inline-flex;
    float:right;
    top:15px;
}

button{
    font-family: cursive;
    display: inline-block;
    position: relative;
    top:20px;
    background-color: papayawhip;
    color: navy;
    text-align: center;
    width: 200px;
    height: 40px;
    margin:5px;
    font-size: large;
}

#buttons {
    text-align: right;
}

#forward-buttons {
    float: right;
    text-align: right;
    margin-right:7px;
}

#login-input form,#register-input form {
    float:right;
    font-size: large;
}

input{
    height: 35px;
    margin:5px;
}

.submit{
    float:right;
    border-radius:15px;
    font-size: large;
    width: 100px; 
}

span {
    vertical-align: -50%;
    font-family: cursive;
    font-weight: 100;
    color: aqua;
    font-size: large;
}

#mid_band{
    z-index: -2;
    background-color: rgb(256,256,256,0.8);
    max-width: 1200px;
    height: 100%;
    position:fixed;
    min-width: 900px;
    margin: auto;
    left:50%;
    transform: translateX(-50%);
}

#mid_red_band{
    z-index: -1;
    background-color: maroon;
    max-width: 1200px;
    height: 31%;
    position:fixed;
    min-width: 900px;
    margin: auto;
    left:50%;
    transform: translateX(-50%);
    border-radius: 0px 0px 20px 20px;
}

#top-bar{
    max-width: 900px;
    margin:auto;

}

#main{
    position: fixed;
    left:50%;
    width:860px;
    transform: translateX(-50%);
    top:30%;
    
}


#main table{
    width:-webkit-fill-available;   
    width:-moz-available;
}

h3 {
    font-size: xx-large;
    font-family: century schoolbook;
}

#remove_movie{
    display: block;
    margin: auto;
    font-size: medium;
    border-radius: 8px;
    border: 0.1em solid black;
}

#Admin_Form{
    text-align: center;
}

#Admin_Form button{
    top:0.5em;
}

#Admin_Form table {
    border-collapse: collapse;
}

#Admin_Form table thead{
    border-bottom-style: groove;
    font-size: larger;
}

#add_movie_fields{
    display: flex;
    justify-content: space-evenly;
}

#add_movie_fields input{
    border: 0.1em solid;
    margin-top: 1em;
}

#new_audi{
    display: block;
    margin: auto;
    font-size: medium;
    border-radius: 8px;
    border: 0.1em solid black;
    width: 11em;
}

#booking_history {
    border-collapse: collapse;
    margin-top: -1.4em;
}

#booking_history thead tr {
    border-bottom: 0.2em inset darkgrey;
    font-size: larger;
    font-style: italic;
}

.slideshow-container img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    display: block;
    margin-top: 5%;
    width: 53em;
    height: 30em;
    transition:0.6s ease-in-out;
    -webkit-animation-name: fade;
    -webkit-animation-duration: .5s;
    animation-name: fade;
    animation-duration: .5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

hr{
    position: relative;
    top: -2em;
}  

#history_tabs{
    display: flex;
    font-size: 1.4em;
    font-family: sans-serif;
    margin-top: -2em;
}

h4{
    margin-right: 1em;
    color: grey;
}

#recent{
    color: black;
}

.no_history{
    position: absolute;
    padding-top: 2em;
    font-size: 1.1em;
    font-family: cursive;
}

#logout{
    text-decoration: underline;
    color: aqua;
    left: 94%;
    position: absolute;
    font-size: 1.2em;
    cursor: pointer;
    font-family:'Times New Roman';
    display: none;
    top:0px;
}

.popup {
    position: relative;
    display: inline-block;
  }

.popup .popuptext {
    visibility: hidden;
    width: 190px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 2em;
    left: 50%;
    font-size:0.6em;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }  

ul{
    text-align: left;
    padding-left: 25px;
}  