h1 {
    color:brown ;
    font-weight: bold;
    display: inline-block;
    position: relative;
    top:15px;
    left:10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    font-size:xx-large;
}

body{
    /*background-image: url(../resources/bg5.jpg);*/
    /*background-image: url(https://i.ibb.co/s60L0q4/bg5.jpg);*/
    background: url("https://res.cloudinary.com/dd6t4mafh/image/upload/v1589882834/kisspng-popcorn-discount-theater-film-cinema-movie-theatre-5ab8ef33641513.2154171515220692994099-cropped_syxirl.webp") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin:auto;
}

#authentication-fields {
    display: inline-flex;
    float:right;
    top:15px;
}

button{
    font-family: cursive;
    display: inline-block;
    position: relative;
    top:20px;
    background-color: papayawhip;
    color: navy;
    text-align: center;
    width: 200px;
    height: 40px;
    margin:5px;
    font-size: large;
}

#buttons {
    text-align: right;
}

#forward-buttons {
    float: right;
    text-align: right;
    margin-right:7px;
}

#login-input form,#register-input form {
    float:right;
    font-size: large;
}

input{
    height: 35px;
    margin:5px;
}

#submit{
    float:right;
    border-radius:15px;
    font-size: large;
    width: 100px; 
}

span {
    vertical-align: -50%;
    font-family: cursive;
    font-weight: 100;
    color: aqua;
    font-size: large;
}

#mid_band{
    z-index: -2;
    background-color: rgb(256,256,256,0.8);
    max-width: 1200px;
    height: 100%;
    position:fixed;
    min-width: 900px;
    margin: auto;
    left:50%;
    transform: translateX(-50%);
}

#mid_red_band{
    z-index: -1;
    background-color: maroon;
    max-width: 1200px;
    height: 31%;
    position:fixed;
    min-width: 900px;
    margin: auto;
    left:50%;
    transform: translateX(-50%);
    border-radius: 0px 0px 20px 20px;
}

#top-bar{
    max-width: 900px;
    margin:auto;

}

#main{
    position: fixed;
    left:50%;
    width:860px;
    transform: translateX(-50%);
    top:30%;
    
}


#main table{
    width:-webkit-fill-available;   
}

h3 {
    font-size: xx-large;
    font-family: century schoolbook;
}