
body{
    /*background-image: url(../resources/bg5.jpg);*/
    /*background-image: url(https://i.ibb.co/s60L0q4/bg5.jpg);*/
    background: url("https://res.cloudinary.com/dd6t4mafh/image/upload/v1589882834/kisspng-popcorn-discount-theater-film-cinema-movie-theatre-5ab8ef33641513.2154171515220692994099-cropped_syxirl.webp") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
}

.mid {
    visibility: hidden
}

table{
    margin: auto;
    border: 2px solid yellow;
    width: 500px;
    text-align: center;
    height: 300px;
    border-radius: 20px;
}

input{
    width:17px;
    height:17px;
}

#main{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}