
body{
    /*background-image: url(../resources/bg5.jpg);*/
    /*background-image: url(https://i.ibb.co/s60L0q4/bg5.jpg);*/
    background: url("https://res.cloudinary.com/dd6t4mafh/image/upload/v1589882834/kisspng-popcorn-discount-theater-film-cinema-movie-theatre-5ab8ef33641513.2154171515220692994099-cropped_syxirl.webp") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
}

.mid {
    visibility: hidden
}

table{
    /*margin: auto;*/
    border: 3px solid moccasin;
    width: 500px;
    text-align: center;
    height: 300px;
    border-radius: 20px;
    background-color: rgb(256,256,256,0.5);
}

input{
    width:17px;
    height:17px;
}

#main{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#submit{
    margin:0;
    position: relative;
    left:50%;
    transform:translateX(-50%);
    min-width: 8em;
    min-height: 2.5em;
    font-size: medium;
    border-radius: 5px;
    border-color: white;
    background-color: cornsilk;
}

#submit:hover{
    background-color: mintcream;
}

#screen{
    width: 500px;
    margin: auto;
    top: 25%;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(255, 0, 0, 0.9);
}

#screen_div{
    width: 501px;
    top: 20%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: x-large;
    font-family: blackadder itc;
}

#logout{
    text-decoration: underline;
    color: aqua;
    left: 94%;
    position: absolute;
    font-size: 1.2em;
    cursor: pointer;
}